<a href="https://colab.research.google.com/github/Pirategod0/PythonPrac/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
name = input("Enter the name: ")
age = int(input("Enter a number: "))
print(f"The name is {name} and the age is {age}")
print(f"The type of the name is: {type(name)} and the type of age is {type(age)}")

Enter the name: John
Enter a number: 15
The name is John and the age is 15
The type of the name is: <class 'str'> and the type of age is <class 'int'>

In [6]:
age = 25
output = "I am {} years old.".format(age)
print(output)

I am 25 years old.

In [12]:
#Print the letter of a word going letter by letter
word = input("Enter a word: ")
for letter in word:
  print(letter)

Enter a word: yuhbbu
y
u
h
b
b
u

In [15]:
#Print the letters of a word using numbers (range)
word = input("Enter a word: ")
for i in range(len(word)):
  print(word[i])

Enter a word: pull
p
u
l
l

In [18]:
my_list = [1, 2, 3, 'hello', 'world', True, [4, 5, 6]]
print(my_list[-1])

[4, 5, 6]

In [22]:
print(my_list[0])
my_list[0] = 10
print(my_list[0])

1
10

In [23]:
my_tuple = (1, 2, 3, 'hello', 'world', True, [4, 5, 6])