<a href="https://colab.research.google.com/github/Pirategod0/PythonPrac/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
sq = [x * x / 2  for x in range(1,21)]
print(sq)

[0.5, 2.0, 4.5, 8.0, 12.5, 18.0, 24.5, 32.0, 40.5, 50.0, 60.5, 72.0, 84.5, 98.0, 112.5, 128.0, 144.5, 162.0, 180.5, 200.0]

In [13]:
dictionary_cars = {'mercedes' : 1, 'ferrari' : 2, 'toyota' : 3}
print(dictionary_cars)
dictionary_cars['ferrari'] = 4
print(dictionary_cars)
dictionary_cars['lamborghini'] = 2
print(dictionary_cars)
dictionary_cars.pop('toyota')
print(dictionary_cars)
dictionary_cars1 = dictionary_cars.copy()
dictionary_cars.clear()
print(dictionary_cars, dictionary_cars1)

{'mercedes': 1, 'ferrari': 2, 'toyota': 3}
{'mercedes': 1, 'ferrari': 4, 'toyota': 3}
{'mercedes': 1, 'ferrari': 4, 'toyota': 3, 'lamborghini': 2}
{'mercedes': 1, 'ferrari': 4, 'lamborghini': 2}
{} {'mercedes': 1, 'ferrari': 4, 'lamborghini': 2}

In [40]:
def find_kth_largest(my_list, k):
  my_list.sort(reverse=True)
  print(my_list[k-1])
a = int(input("Enter the number of terms: "))
my_list = []
count = 0
while(count < a):
  my_list.append(float(input(f"Enter term {count+1} for the list:")))
  count = count + 1
k = int(input("Which highest number do you want?12: "))
k_largest=find_kth_largest(my_list, k)

Enter the number of terms: 5
Enter term 1 for the list:9
Enter term 2 for the list:32
Enter term 3 for the list:8
Enter term 4 for the list:8
Enter term 5 for the list:2
Which highest number do you want?: 3
8.0

In [35]:
def input_number_list():
    numbers = []
    n = int(input("Enter the number of elements: "))
    for i in range(n):
        num = float(input(f"Enter element {i+1}: "))
        numbers.append(num)
    return numbers
input_number_list()

Enter the number of elements: 6
Enter element 1: 32
Enter element 2: 9
Enter element 3: 4
Enter element 4: 18
Enter element 5: 4
Enter element 6: 2

[32.0, 9.0, 4.0, 18.0, 4.0, 2.0]